*~
Makefile
autom4te.cache
config.h
config.h.in
config.status
configure
penlib.tex
pendoc.tex
termtojson.tex
pengines.tex
pengines.html
pengines.pdf
pengines.aux
pengines.idx
pengines.ilg
pengines.log
pengines.out
pengines.toc
pengines.ind
config.log
